
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bubble:before { content: "\e60c"; }
.icon-bubble1:before { content: "\e628"; }
.icon-bubble2:before { content: "\e624"; }
.icon-bubble3:before { content: "\e6ae"; }
.icon-bubble4:before { content: "\e61f"; }
.icon-bubble5:before { content: "\e617"; }
.icon-lnrbubble:before { content: "\e607"; }
.icon-iconbubble:before { content: "\e883"; }
.icon-speechbubble:before { content: "\e89d"; }
.icon-house:before { content: "\e612"; }
.icon-play:before { content: "\e618"; }
.icon-play1:before { content: "\e601"; }
.icon-play2:before { content: "\e68d"; }
.icon-play3:before { content: "\e975"; }
.icon-pause:before { content: "\e61d"; }
.icon-pause1:before { content: "\e62b"; }
.icon-pause2:before { content: "\e679"; }
.icon-pause3:before { content: "\e6b6"; }
.icon-pause4:before { content: "\e66a"; }
.icon-music:before { content: "\e618"; }
.icon-music1:before { content: "\e7da"; }
.icon-music2:before { content: "\e74c"; }
.icon-music3:before { content: "\34a3"; }
.icon-music4:before { content: "\e603"; }
.icon-music5:before { content: "\e609"; }
.icon-music6:before { content: "\e898"; }
.icon-music7:before { content: "\e686"; }
.icon-cloud:before { content: "\e64a"; }
.icon-cloud1:before { content: "\e62d"; }
.icon-cloud2:before { content: "\e613"; }
.icon-cc:before { content: "\e601"; }
.icon-cloud3:before { content: "\e612"; }
.icon-cloud4:before { content: "\e617"; }
.icon-cloud5:before { content: "\f005f"; }
.icon-anchor:before { content: "\e60d"; }
.icon-anchor1:before { content: "\e894"; }
.icon-anchor2:before { content: "\e614"; }
.icon-anchor3:before { content: "\e631"; }
.icon-directionleft:before { content: "\e617"; }
.icon-weibiaoti104:before { content: "\e605"; }
.icon-directionright:before { content: "\e618"; }
.icon-bubble6:before { content: "\e696"; }
.icon-cloud6:before { content: "\e653"; }
.icon-01cloud:before { content: "\e600"; }
.icon-cloud7:before { content: "\e607"; }
.icon-cloud8:before { content: "\e6c2"; }
.icon-cloud9:before { content: "\e625"; }
.icon-cloud10:before { content: "\e6d6"; }
.icon-cloud11:before { content: "\e733"; }
.icon-cloud12:before { content: "\eb07"; }
.icon-cloud13:before { content: "\e61b"; }
.icon-cloud14:before { content: "\e60e"; }
.icon-cloud15:before { content: "\348f"; }
.icon-cloud16:before { content: "\e602"; }
.icon-cloud17:before { content: "\e715"; }
.icon-01cloud1:before { content: "\e600"; }
.icon-cloudstorage:before { content: "\e634"; }
.icon-user-cloud:before { content: "\e69e"; }
.icon-01cloud2:before { content: "\e603"; }
