<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
</head>
<body>
	<div class="container">
		<div class="row" >
			<h1 id="teamTitle">IFE.FrontEnd</h1>
		</div>
		<div class="row">
			<div  id="teamIntro">
				百度前端技术学院诞生于2014年，由百度最大规模的前端技术组织 EFE 团队发起成立。 目前学院是由百度校园品牌部、百度多模交互搜索部以及百度校园招聘组联合组织的，面向大学生人群，免费的一个技术学习、交流与分享平台。</br>
				
			</div>
		</div>
		<div class="row">
			<!-- <div class="description">
				团队成员:团队由SU,WEIYU,YEMAO,FIDO,CHUAN五人组成</br>
				GitHub: git@github.com:pcdqc/IFE.FrontEnd.git 
			</div> -->
			  <div class="col-lg-6 col-lg-offset-3 search" >
			    <div class="input-group">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button">IFE!</button>
			      </span>
			      <input type="text" class="form-control" placeholder="Search for Members">
			    </div><!-- /input-group -->
			  </div><!-- /.col-lg-6 -->
			   
		</div>
		<div class="row" id="team">
			 <div id="member1">
			 	<div class="img1" style="background-image: url('../images/su.jpg');">
			 	</div>
			 	<div class="descri1">
			 		<p>SU</p>
			 	</div>
			 </div>
			 <div id="member2">
			 	<div class="img2" style="background-image: url('../images/weiyu.jpg');">
			 	</div>
			 	<div class="descri2">
			 		<p>Wei.Yu</p>
			 	</div>
			 </div>
			 <div id="member3">
			 	<div class="img3" style="background-image: url('../images/Cat.jpg');">
			 	</div>
			 	<div class="descri3">
			 		<p>Ye.Mao</p>
			 	</div>
			 </div>
			 <div id="member4">
			 	<div class="img4" style="background-image: url('../images/Fido.jpg');">
			 	</div>
			 	<div class="descri4">
			 		<p>Fido</p>
			 	</div>
			 </div>
			 <div id="member5">
			 	<div class="img5" style="background-image: url('../images/chuan.jpg');">
			 	</div>
			 	<div class="descri5" >
				 	<p>Chuan</p>
			 	</div>
			 </div>
		</div>
	</div>
	<!-- <footer class="main-footer">
		<div class="pull-right hidden-xs">
		  <b>Version</b> 0.0.1
		</div>
		<strong>Copyright &copy; 2015-2016 <a href="http://www.baidu.com.com">IFE.FrontEnd </a>.</strong> All rights reserved.
	</footer>
	-->
	<script src="/javascripts/chuan.js"></script>
	</body>
</html>