<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
    	<li ><a href="/SU">SU</a></li>
    	<li > <a href="/Cat">Cat</a></li>
    	<li ><a href="/Fido">Fido</a></li>
    	<li ><a href="/Weiyu">Weiyu</a></li>
    	<li ><a href="/Chuan">Chuan</a></li>
    </ul>
  </body>
</html>
